<header class="header-nav">

    <div class="nombre-logo">
        <img src="https://i.postimg.cc/KzqgJ3hv/iconogaleria3.png" alt="Logo">
        <h1>GALERIA CADENA</h1>
    </div>

    <nav class="nav-bar">

        <a routerLink="/" routerLinkActive="activo"
        [routerLinkActiveOptions]="{ exact: true }">
            HOME
        </a>

        <a routerLink="/galeria" routerLinkActive="activo">
            GALERÍA
        </a>

        <a routerLink="/nosotros" routerLinkActive="activo">
            NOSOTROS
        </a>

        <a routerLink="/contacto" routerLinkActive="activo">
            CONTACTO
        </a>

        <a routerLink="/login" routerLinkActive="activo">
            LOGIN
        </a>

    </nav>

</header>